<!-- Dashboard blog post -->
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">{{title}}</h4>
    <div class="d-flex justify-content-between">
        <p class="mb-0">Date Created: {{created_at}} | Date Updated: {{updated_at}}</p>
        <p class="mb-0"><a class="dashboard-edit" data-blog-id={{id}} href="">Edit</a> | <a href=""
                class="dashboard-delete" data-blog-id={{id}}>Delete</a></p>
    </div>
</div>