<!-- Dashboard blog post -->
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">{{title}}</h4>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <p class="mb-0">Created: {{formatBlogDate created_at}}
            {{#compareValues updated_at created_at}} | Updated:
            {{formatBlogDate updated_at}} {{/compareValues}}
        </p>
        <p class="mb-0"><a class="dashboard-edit" data-blog-id={{id}} href="">Edit</a> | <a href=""
                class="dashboard-delete" data-blog-id={{id}}>Delete</a></p>
    </div>
</div>